<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--<add name="DefaultConnection" connectionString="Data Source=127.0.0.1;Initial Catalog=MB_DB;User Id=sa;password=sqltest; MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
  <add name="DefaultConnection" connectionString="Data Source=bds247587598.my3w.com;Initial Catalog=bds247587598_db;User Id=bds247587598;password=Zhouxiangjun1698; MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
</connectionStrings>